<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      *ngIf="loading"
      class="row align-items-center justify-content-center h-100"
    >
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf="!loading" class="p-3 mt-5 text-center container w-75 bg-light">
      <h5 class="mt-3">Goal</h5>
      <h1 class="mb-3" *ngIf="!noData">{{ currentGoal }}</h1>
      <h1 *ngIf="noData">--</h1>
      <h5>This month</h5>
      <h1 class="mb-3">{{ currentExpenses }}</h1>
      <h5>Per month</h5>
      <h1 class="mb-3">{{ expensesMean }}</h1>
    </div>
    <button
      *ngIf="!loading"
      class="mx-auto mt-3 btn btn-block btn-dark w-75 btn-center"
      (click)="openModal()"
    >
      Add Expense
    </button>

    <div
      *ngIf="modal"
      class="row align-items-center justify-content-center h-50"
    >
      <app-trans-modal (close)="closeModal()"></app-trans-modal>
    </div>
  </body>
</html>
