<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container h-100 mt-2">
      <div class="row align-items-center justify-content-center h-100">
        <div *ngIf="loading">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="card mx-auto w-50" *ngIf="!loading">
          <div class="card-header bg-dark">
            <h3 class="text-white">Sign Up</h3>
          </div>
          <div class="card-body">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-user"></i
                  ></span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  id="email"
                  name="email"
                  required
                  ngModel
                  email
                  #email="ngModel"
                />
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="fas fa-key"></i
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  minlength="6"
                  name="password"
                  required
                  ngModel
                />
              </div>
              <div
                class="alert text-center alert-danger alert-dismissible"
                *ngIf="error"
              >
                <a href="#" class="close">&times;</a>
                <p>{{ error }}</p>
              </div>
              <div class="form-group">
                <button
                  class="btn float-right mt-2 login_btn bg-dark text-white"
                  [disabled]="!authForm.valid"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer bg-dark">
            <div class="d-flex justify-content-center links text-white">
              <p>Already have an account?</p>

              <a
                href="#"
                class="ml-1"
                routerLinkActive="Active-Link"
                routerLink="/signin"
                >Sign In</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
