<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <a href="#" class="navbar-brand">Expense Tracker</a>
      <button
        *ngIf="isLoggedIn"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul *ngIf="isLoggedIn" class="navbar-nav ml-auto">
          <li class="nav-item text-center mx-1" routerLinkActive="active">
            <a class="nav-link" routerLink="transactions" id="link-hover">
              Home
            </a>
          </li>
          <li class="nav-item text-center mx-1" routerLinkActive="active">
            <a class="nav-link" routerLink="transactions" id="link-hover"
              >Goals</a
            >
          </li>
          <li class="nav-item text-center mx-1" routerLinkActive="active">
            <a class="nav-link" routerLink="transactions" id="link-hover"
              >History</a
            >
          </li>

          <li class="nav-item text-center mx-1" routerLinkActive="active">
            <a
              class="nav-link"
              (click)="onSignOut()"
              routerLink="/signin"
              id="link-hover"
              >Sign Out</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
