<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
      <a href="#" class="navbar-brand">Expense Tracker</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#"><li class="nav-link">Home</li></a>
          </li>
          <li class="nav-item">
            <a href="#"><li class="nav-link">Sign in</li></a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
