<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      *ngIf="loading"
      class="row align-items-center justify-content-center h-100"
    >
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!loading" class="p-1 mt-4 text-center container w-75 bg-light">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-12">
          <p>How much you want to spend monthly?</p>
          <p *ngIf="noData">---</p>
          <h3>{{ currentGoal }}</h3>
          <hr />
          <p><em>Your progress:</em></p>
        </div>
        <div class="d-none d-sm-inline col-md-6 px-0">
          <p *ngFor="let d of data | slice: 0:10" class="text-truncate">
            {{ d.date.substr(0, 10) }}
          </p>
        </div>
        <div class="col-11 col-md-5 px-0">
          <p
            id="deleteContainer"
            *ngFor="let d of data | slice: 0:10"
            class="text-truncate"
          >
            {{ d.goal }}
            <button
              id="deleteButton"
              class="col-2 fa fa-trash float-right mr-5 p-0 border-0 text-danger bg-transparent"
              (click)="onDelete(d._id)"
            ></button>
          </p>
        </div>
      </div>
    </div>

    <button
      *ngIf="!loading"
      class="mx-auto mt-3 btn btn-block btn-dark w-75 btn-center"
      (click)="openModal()"
    >
      Set Current Goal
    </button>
    <div
      *ngIf="modal"
      class="row align-items-center justify-content-center h-50"
    >
      <app-goals-modal (close)="closeModal()"></app-goals-modal>
    </div>
  </body>
</html>
